{% extends 'base.html' %}
{% block content %}
	
<h1> {% block title %} Welcome to my Bullet Journal {% endblock %} </h2>
	<div class="home_page">
		<h2> What is a Bullet Journal </h2>

		<p> A Bullet Journal is a type of journaling that lets the person be creative in the way they wish to 
		organise their thoughts and feelings that best suits their brain </p>

		<p> You can chose to track anything you wish but in this case I've decided to track my daily feeling 
		and what im greatful for along side my daily journal entry</p>
	</div>


		

{% endblock %}
